<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{config.title}}</title>
  <link rel="stylesheet" href="https://academysoftwarefoundation.github.io/EncodingGuidelines/assets/css/just-the-docs-default.css"> 
  <script type="text/javascript" src="https://academysoftwarefoundation.github.io/EncodingGuidelines/assets/js/vendor/lunr.min.js"></script> 
  <script type="text/javascript" src="https://academysoftwarefoundation.github.io/EncodingGuidelines/assets/js/just-the-docs.js"></script>
</head>

<body>
  <H1>{{config.title}}</H1>
  <P>{{config.description}}</P>
  <img src='{{ config.name }}-filesize.png' />
  <img src='{{ config.name }}-encode_time.png' />
  <img src='{{ config.name }}-vmaf_harmonic_mean.png' />
  <img src='{{ config.name }}-psnr_y_harmonic_mean.png' /></BR>

  Testing with ffmpeg version: {{ testinfo.ffmpeg_version}}

  {% for media_name, test in tests.items() %}

  <h1>{{ media_name }} Results</h1>
  <table>
  <TR>
    <TD ALIGN=RIGHT>File Path</TD><TD>{{test.source_info.path}}</TD>
  </TR>
  <TR>
    <TD ALIGN=RIGHT>Resolution</TD><TD>{{test.source_info.width}} x {{test.source_info.height}}</TD>
  </TR>
  <TR>
    <TD ALIGN=RIGHT>Source Frame Rate</TD><TD>{{test.source_info.rate}}</TD>
  </TR>
  <TR>
    <TD ALIGN=RIGHT>Frame Range</TD><TD>{{test.source_info.in}} - {{test.source_info.in + test.source_info.duration}}</TD>
  </TR>
  </table>
<table border=1>
   <TR>
   <TH>Test Name</TH>
   <TH>Test</TH>
   <TH>Encode Duration</TH>
   <TH>File Size</TH>
   <TH>VMAF Harmonic Mean</TH>
   <TH>VMAF Min</TH>
   <TH>PSNR-Y Harmonic Mean</TH>
   <TH>PSNR-CR Harmonic Mean</TH>
   <TH>PSNR-CB Harmonic Mean</TH>
   <TH>Encode Arguments</TH>
   </TR>
  {% for enc_info in test.results %}
    <TR>
     <TH><A  target="_blank" HREF="{{ test.default_media.basename }}.-{{ enc_info.name|e }}.log">{{ enc_info.name|e }}</a></TH>
        <td align=right><A target="_blank" HREF="{{ test.default_media.basename  }}.-{{ enc_info.name|e }}_tests.log">Result - {{ enc_info.testresult }}</A> </TD>
        <td align=right>{{ enc_info.encode_time}} </TD>
        <td align=right>{{ enc_info.filesize}} </TD>
        <TD align=right>{{enc_info.vmaf_harmonic_mean |e }}</TD>
        <TD align=right>{{enc_info.vmaf_min |e }}</TD>
         <TD align=right>{{enc_info.psnr_y.harmonic_mean |e }}</TD>
         <TD align=right>{{enc_info.psnr_cr.harmonic_mean |e }}</TD>
         <TD align=right>{{enc_info.psnr_cb.harmonic_mean |e }}</TD>
        <TD>{{enc_info.encode_arguments | e}}</TD>
    </TR>
  {% endfor %}
</TABLE>
  {% endfor %}

<H2> Pictures </H2>
  {% for media_name, test in tests.items() %}
  <h1>{{ media_name }} Results</h1>
  <table>
  <TR>
    <TD ALIGN=RIGHT>File Path</TD><TD>{{test.source_info.path}}</TD>
  </TR>
  <TR>
    <TD ALIGN=RIGHT>Resolution</TD><TD>{{test.source_info.width}} x {{test.source_info.height}}</TD>
  </TR>
  <TR>
    <TD ALIGN=RIGHT>Source Frame Rate</TD><TD>{{test.source_info.rate}}</TD>
  </TR>
  <TR>
    <TD ALIGN=RIGHT>Frame Range</TD><TD>{{test.source_info.in}} - {{test.source_info.in + test.source_info.duration}}</TD>
  </TR>
  </table>
<table border=1>
   <TR>
   <TH>Test Name</TH>
   <TH>movie</TH>
   <TH>Encode Arguments</TH>
   </TR>
  {% for enc_info in test.results %}
    <TR>
    <TH><A  target="_blank" HREF="{{ test.default_media.basename }}-{{ enc_info.name|e }}.log">{{ enc_info.name|e }}</A></TH>
        <td align=right><video width="500px" controls <source type='video/mp4' src="{{ enc_info.output_media | e }}"/> </video></TD>
        <TD>{{enc_info.encode_arguments | e}}</TD>
    </TR>
  {% endfor %}
</TABLE>
  {% endfor %}

</body>
</html>
