<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Results</title>
  <link rel="stylesheet" href="https://richardssam.github.io/ffmpeg-tests/assets/css/just-the-docs-default.css"> 
  <script type="text/javascript" src="https://richardssam.github.io/ffmpeg-tests/assets/js/vendor/lunr.min.js"></script> 
  <script type="text/javascript" src="https://richardssam.github.io/ffmpeg-tests/assets/js/just-the-docs.js"></script>
</head>

<body>
  <img src='{{ config.name }}-filesize.png' />
  <img src='{{ config.name }}-encode_time.png' />

  <img src='{{ config.name }}-vmaf_harmonic_mean.png' /></BR>
  
  Testing with ffmpeg version: {{ testinfo.ffmpeg_version}}

  {% for media_name, test in tests.items() %}

  <h1>{{ media_name }} Results</h1>
  <table>
  <TR>
    <TD ALIGN=RIGHT>File Path</TD><TD>{{test.source_info.path}}</TD>
  </TR>
  <TR>
    <TD ALIGN=RIGHT>Resolution</TD><TD>{{test.source_info.width}} x {{test.source_info.height}}</TD>
  </TR>
  <TR>
    <TD ALIGN=RIGHT>Source Frame Rate</TD><TD>{{test.source_info.rate}}</TD>
  </TR>
  <TR>
    <TD ALIGN=RIGHT>Frame Range</TD><TD>{{test.source_info.in}} - {{test.source_info.in + test.source_info.duration}}</TD>
  </TR>
  </table>
<table border=1>
   <TR>
   <TH>Test Name</TH>
   <TH>Encode Duration</TH>
   <TH>File Size</TH>
   <TH>VMAF Harmonic Mean</TH>
   <TH>Mean</TH>
   <TH>Min</TH>
   <TH>Encode Arguments</TH>
   </TR>
  {% for enc_info in test.results %}
    <TR>
    <TH>{{ enc_info.name|e }}</TH>
        <td align=right>{{ enc_info.encode_time}} </TD>
        <td align=right>{{ enc_info.filesize}} </TD>
        <TD align=right>{{enc_info.vmaf.harmonic_mean |e }}</TD>
        <TD align=right>{{enc_info.vmaf.mean |e }}</TD>
        <TD align=right>{{enc_info.vmaf.min |e }}</TD>
        <TD>{{enc_info.encode_arguments | e}}</TD>
    </TR>
  {% endfor %}
</TABLE>
  {% endfor %}
</body>
</html>